{% extends 'porteiros/base/base.html' %}

{% block content %}
  <body>
    

    <form method="post" autocomplete="off">
      {% csrf_token %}

      <br /><br /><br />

      <label for="nome">Nome da Empresa:</label>
      <input type="text" id="nome" name="nome" placeholder="Digite o nome" maxlength="50" required oninput="this.value = this.value.toUpperCase()" /><br />

      <label for="matricula">CNPJ:</label>
      <input type="text" id="matricula" name="cnpj" placeholder="Digite a matrícula" pattern="\d*" maxlength="14" required oninput="this.value = this.value.toUpperCase()" /><br />

      <input class="cadastrar" type="submit" value="Cadastrar" />
    </form>
  </body>
  <style>
    button {
      background-color: rgba(0, 174, 239, 255);
      transition: background-color 0.3s; /* Efeito de transição suave */
      border-radius: 25px;
      border: none;
      cursor: pointer;
      height: 30px;
      color: #fff;
      font-size: 15px;
    }
    button:hover {
      background-color: rgba(226, 26, 34, 255);
      border-radius: 25px;
      border: none;
      cursor: pointer;
    }
  </style>
{% endblock %}
