{% load static %}

<img src="{% static 'images/logo.png' %}" style="width: 120px;">

<p><strong>PLACA:</strong> {{ placa_entrada }}</p>
<p><strong>HORA:</strong> {{ data }}</p>
<p><strong>CNPJ:</strong> {{ cnpj }}</p>
<p><strong>EMPRESA:</strong> {{ nome }}</p>
<p><strong>CARGA:</strong>{{ carga }}</p>
<p><strong>NF's:</strong> 
    <li><strong>NF's</strong> {{ nfs }}</li>
    <!--<li><strong>Prefixo:</strong> {{ nfs_prefixo }}</li>
    <li><strong>De:</strong> {{ nfs_de }}</li>
    <li><strong>Até:</strong> {{ nfs_ate }}</li>
    <li><strong>Exceto:</strong> {{ nfs_exceto }}</li>
    <li><strong>Apenas:</strong> {{ nfs_apenas }}</li>-->
</p>
<p>INÍCIO DESCARGA:_____________</p>
<p>FIM DESCARGA:_____________</p>
<p>QTD SAÍDA PALLETS:_____________</p>
<p>VALOR DESCARGA:_____________</p>
<p>CARGA P/ OUTRO CLIENTE;NF'S Nº:_____________</p>
<p>DEVOLUÇÃO INTER NF'S Nº:_____________</p>
<p>LACRE SAÍDA INTER:_____________</p>
<p>HORA LIBERAÇÃO CAMINHÃO:_____________</p>
<p>FILME UTILIZADO:_____________</p>
<p>LONA:_____________</p>
<p>CAIXA BATIDA:_____________</p>
<p>SR MOTORISTA ENTREGAR ESTE CONTROLE NA PORTARIA. <br>
    O CAMINHÃO TEM 5(CINCO) MINUTOS PARA SAIR!
</p>

<script>
    function imprimirCupom() {
        window.print();
    }

    window.onload = function () {
        imprimirCupom();
        setTimeout(redirecionarParaCadastro, 3000);
    };

    function redirecionarParaCadastro() {
        window.location.href = "{% url 'cadastro' %}";
    }
</script>